<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thingclips.smart.android.demo">
    <!-- sdcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        android:required="false" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:required="false" /> <!-- added from 2.7.2 -->
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"
        android:required="false" />

    <application
        android:name="com.thingclips.smart.commercial.lighting.demo.app.ThingSmartApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:resizeableActivity="false"
        android:supportsRtl="false"
        android:theme="@style/Base_BizBundle_Theme"
        tools:remove="android:preserveLegacyExternalStorage"
        tools:replace="android:allowBackup,android:theme">
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.project.view.RegionListActivity"
            android:exported="false" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.config.view.SigMeshConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <meta-data
            android:name="THING_SMART_APPKEY"
            android:value="${THING_SMART_APPKEY}" />
        <meta-data
            android:name="THING_SMART_SECRET"
            android:value="${THING_SMART_SECRET}" />

        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.device.view.DeviceListActivity"
            android:exported="false"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.device.view.CommonDeviceDebugActivity"
            android:exported="false"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.login.view.CountryListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.login.view.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.login.view.LoginWithUidActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.login.view.LoginWithPhoneActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.login.view.AccountInputActivity"
            android:exported="false"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.login.view.AccountConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.LauncherActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.config.view.ECBindActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.config.view.AddDeviceAPTipActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.config.view.ECFailedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.config.view.ECActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.config.view.AddDeviceTipActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.BrowserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.device.view.DeviceCommonActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.device.view.DpSendActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.config.view.AddDeviceTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.config.view.ZigbeeConfigActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.area.view.AreaIndexActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.area.view.AreaControlActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.project.view.ProjectIndexActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.project.view.ProjectAddActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.project.view.ProjectEmptyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.project.view.ProjectInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.area.view.AreaInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.area.view.GroupListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.thingclips.smart.commercial.lighting.demo.pages.group.view.GroupDeviceListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>
